{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Ecommerce</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ShoppingKart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/product/">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register/">Register</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link " href="/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link " href="/login/">Login</a>
            </li>
            {% endif %} 


          </ul>
          <form class="d-flex" method="get" action="{% url 'srcfilter' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"
              value="{{ request.GET.search|default:'' }}">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  {% block 'main' %} 

  {% endblock 'main' %}

  <footer>
    <div class="row mt-4 p-3 bg-light">
      <div class="col-md-4 p-4">
        <h5>Address</h5>
        <hr>
        22-B, 1st Floor,<br>
        Rainbow Plaza,<br>
        Shivar Chowk, Pimple Saudagar,<br>
        Pune 411027
      </div>
      <div class="col-md-4 p-4">
        <h5>Quick Links</h5>
        <hr>
        <a href="/">Home</a><br>
        <a href="#">About</a><br>
        <a href="/contact/">Contact</a><br>
      </div>
      <div class="col-md-4 p-4">
        <h5>Social Media</h5>
        <hr>
        <a href="https://www.linkedin.com/in/om-prakash-yadav-517349219/" target="_blank"><i class="bi bi-linkedin"></i>
          LinkedIn</a><br>
        <a href="#"><i class="bi bi-facebook"></i> Facebook</a><br>
        <a href="#"><i class="bi bi-instagram"></i> Instagram</a><br>
        <a href="#"><i class="bi bi-twitter"></i> Twitter</a><br>
      </div>
    </div>
  </footer>




  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>